<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" /> -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" >
    <link rel="shortcut icon" href="/static/asset/Dermafy_Logo.png" type="image/x-icon">
    <title>{% block title %}{% endblock %} - Dermafy</title>
    <meta name="description" content="Dermatology AI made easy" />
    <meta name="author" content="BuMacMal" />
  </head>

  <body class="mx-0">
    <div id="navbar">{% include 'navbar.html' %}</div>
    <div id="hero">{% include 'hero.html' %}</div>
    <div id="about" class="bg-gray-100 border-solid border-t-2 border-b-2 border-gray-300">{% include 'about.html' %}</div>
    <div id="content" class="flex justify-center items-center min-h-screen">{% block content %}{% endblock %}</div>
    <div id="footer" class="fixed bottom-0 w-full z-50">{% include 'footer.html' %}</div>
  </body>
</html>
