{% extends "base.html" %} 
{% block title %}Index{% endblock %} 
{% block content %}
<div class="p-4 h-3/4 flex flex-col md:flex-row md:space-x-4 w-2/3 xl:w-2/4 xl:max-w-screen-md bg-white rounded-lg px-6 xl:px-12 ">
  <!-- Left Column - Image -->
  <div class="md:w-1/2">
    <label
      class="block text-gray-700 xl:text-4xl font-bold text-center xl:pb-2 text-2xl"
      style="background-clip: text; -webkit-background-clip: text; color: transparent; background-image: linear-gradient(to right, #2563eb, #2dd4bf)">
      Dermafy Now
    </label>
    <label class="block text-gray-700 xl:text-2xl text-center xl:py-4 text-xl">Instructions</label>
    <img src="{{ url_for('static', path='/asset/DermaInstruction.png') }}" alt="instructions" class="mx-auto xl:h-72 rounded-lg h-4/5" />
  </div>

  <!-- Right Column - Buttons -->
  <div class="md:w-1/2 flex flex-col justify-center pt-6">
    <!-- Take a Photo Button -->
    <div class="flex justify-center">
      <button id="takePhoto" class="bg-blue-400 text-white xl:text-3xl text-3xl font-bold py-2 px-15 w-3/4 xl:w-full h-20 xl:h-20 m-1.5 xl:m-2 rounded-lg hover:bg-blue-600 border-2 border-transparent hover:border-blue-500" onclick="openWebcam()" disabled>Take A Photo</button>
      <!-- Webcam Modal (Shows webcam modal when the "Take A Photo" button is clicked) -->
      <div id="webcamModal" class="fixed inset-0 items-center justify-center z-10 hidden bg-black bg-opacity-40">
        <div class="flex items-center justify-center h-screen">
          <div class="bg-white m-auto p-5 border border-gray-300 shadow-lg rounded-lg xl:w-2/5 lg:w-1/2 relative">
            <div class="my-4 mx-10 max-w-full shadow-lg rounded-lg max-h-full" style="overflow:hidden"><video id="video" class="mx-auto max-w-full shadow-lg rounded-lg" autoplay></video></div>
            <!-- Slider for Zoom -->
            <input type="range" min="1" max="5" value="1" step="0.1" id="zoomSlider" class="w-full mt-2" onchange="changeZoom()">
            <button class="absolute top-0 right-0 m-2 text-xl" onclick="closeWebcamModal()">
              <div class="close-button w-10 h-10 bg-red-500 rounded-lg flex items-center justify-center">
                <span class="text-white">&times;</span>
              </div>
            </button>
            <button id="snap" class="w-full py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-700 border-2 border-transparent hover:border-blue-500">Snap Photo</button>
            <div class="mx-10 max-w-full rounded-lg max-h-full"><canvas id="canvas" class="mx-auto max-w-full shadow-lg rounded-lg max-h-full hidden border-4 border-transparent hover:border-green-500"></canvas></div>
            <button id="done" class="w-full py-2 mt-2 bg-green-500 text-white rounded hover:bg-green-700 hidden">Submit</button>
            <button id="retake" class="w-full py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-700 hidden border-2 border-transparent hover:border-blue-500">Retake</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Upload Image Form -->
    <form id="uploadForm" class="w-full" method="post" enctype="multipart/form-data" action="/image">
      <div class="flex justify-center">
        <div for="uploadImage" class="h-20 xl:h-20 flex items-center justify-center cursor-pointer bg-blue-400 text-white py-2 px-15 w-3/4 xl:w-full m-1.5 xl:m-2 rounded-lg hover:bg-blue-600  border-2 border-transparent hover:border-blue-500">
          <label  class="text-center cursor-pointer text-3xl xl:text-3xl font-bold"> Upload Image </label>
          <input class="opacity-0 absolute h-14 w-56 xl:h-20 cursor-pointer" type="file" id="uploadImage" name="image" accept="image/*" onchange="showSubmitButton()" disabled />
        </div>
      </div>

      <div class="md:flex md:items-center justify-center">
        <div id="submitButtonContainer" class="hidden">
          <!-- Disabled Submit Button Until Checkbox is Checked -->
          <button
            id="submitButton"
            class="shadow bg-green-500 hover:bg-green-700 rounded-lg focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 m-2"
            type="submit"
            name="submit"
            disabled
          >
            Submit
          </button>
        </div>
      </div>

      <p class="text-gray-600 text-xs italic text-center">Take a Photo or Choose an Image to Submit a Picture</p>
    </form>
    <!-- Checkbox for Terms and Services Consent -->
<div class="items-center justify-center mt-4 text-center">
  <input type="checkbox" id="termsCheckbox" class="rounded-sm" onchange="enableButtons()" />
  <label id="termsLabel" for="termsCheckbox" class="ml-2 text-sm xl:text-md text font-bold text-gray-800"> You must consent before using the app. </label>
</div>

<div class="mt-4 text-center">
  <a href="/results/#content" class="bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">View Past Results</a>
</div>
  </div>
</div>



  <script>
    // Function to change zoom
    function changeZoom() {
      var video = document.getElementById("video");
      var zoomValue = parseFloat(document.getElementById("zoomSlider").value);
      video.style.transform = "scale(" + zoomValue + ")";
    }

    // Update enableWebcam function to include zoom functionality
    function enableWebcam() {
      let imageData = null;

      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then(function (stream) {
          var video = document.getElementById("video");
          var canvas = document.getElementById("canvas");
          var snapButton = document.getElementById("snap");
          var doneButton = document.getElementById("done");
          var retakeButton = document.getElementById("retake");
          var modal = document.getElementById("webcamModal");

          video.srcObject = stream;
          video.play();

          modal.style.display = "block";

          doneButton.addEventListener("click", function () {
            if (imageData) {
              canvas.toBlob(function (blob) {
                var filename = `webcam_photo.png`;
                let formData = new FormData();
                formData.append("image", blob, filename);

                fetch("/image", {
                  method: "POST",
                  body: formData,
                })
                  .then((response) => {
                    return response.text();
                  })
                  .then((data) => {
                    const tempDiv = document.createElement("div");
                    tempDiv.innerHTML = data;

                    const contentElement = tempDiv.querySelector("#content");
                    const footerElement = tempDiv.querySelector("#footer");

                    if (contentElement) {
                      document.getElementById("content").outerHTML = contentElement.outerHTML;
                      window.location.href = "#content";
                    } else {
                      console.error("Content element not found in the received HTML.");
                    }
                    // Redirect to the content section of the page when the page loads
                    document.getElementById("submitAnotherBtn").addEventListener("click", function () {
                      window.location.href = "/";
                    });
                    // Use fetch to submit the form data using JavaScript (Shows reults are saved message on the page without refreshing the page)
                    document.getElementById("saveResultsBtn").addEventListener("click", function (event) {
                      event.preventDefault(); // Prevent the form from being submitted the default way

                      var form = document.getElementById("saveResultsForm");
                      var formData = new FormData(form);

                      fetch(form.action, {
                        method: "POST",
                        body: formData,
                      })
                        .then((response) => response.json())
                        .then((data) => {
                          // Display the JSON response in the console or somewhere on the page
                          console.log(data);
                          // Show the save message
                          document.getElementById("saveMessage").style.display = "block";
                        })
                        .catch((error) => {
                          console.error("Error:", error);
                        });
                    });
                  })
                  .catch((error) => console.error("Error:", error));
              });
            }

            modal.style.display = "none";
            video.style.display = "block";
            canvas.style.display = "none";
            snapButton.style.display = "block";
            doneButton.style.display = "none";
            retakeButton.style.display = "none"; // Hide retake button after capturing image
          });

          snapButton.addEventListener("click", function () {
            // Hide the zoom slider
            document.getElementById("zoomSlider").style.display = "none";
        
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
                
            var context = canvas.getContext("2d");
            var zoomValue = parseFloat(document.getElementById("zoomSlider").value);
            var scaledWidth = canvas.width / zoomValue;
            var scaledHeight = canvas.height / zoomValue;
            var offsetX = (video.videoWidth - scaledWidth) / 2;
            var offsetY = (video.videoHeight - scaledHeight) / 2;
                
            context.drawImage(
                video,
                offsetX, offsetY, scaledWidth, scaledHeight,
                0, 0, canvas.width, canvas.height
            );
                
            video.style.display = "none";
            canvas.style.display = "block";
            snapButton.style.display = "none";
            doneButton.style.display = "block";
            retakeButton.style.display = "block"; // Show retake button after capturing image
                
            imageData = canvas.toDataURL("image/png");
        }); 
        
          // Retake button functionality
          retakeButton.addEventListener("click", function () {
            // Show the zoom slider
            document.getElementById("zoomSlider").style.display = "block";
        
            video.style.display = "block";
            canvas.style.display = "none";
            snapButton.style.display = "block";
            doneButton.style.display = "none";
            retakeButton.style.display = "none";
            imageData = null; // Reset imageData when retaking the photo
         });
        })
        .catch(function (err) {
          console.error("Error accessing webcam:", err);
        });
    }

    // Event listener for "Take a Photo" button
    document.getElementById("takePhoto").addEventListener("click", function () {
      if (!isCheckboxChecked()) {
        return;
      }
      // Reset the slider value to 1
      document.getElementById("zoomSlider").value = 1;
      // Reset the image zoom to 1
      document.getElementById("video").style.transform = "scale(1)";
      enableWebcam(); // Call the function to enable webcam and display modal
    });

    // Function to check if checkbox is checked
    function isCheckboxChecked() {
      var checkbox = document.getElementById("termsCheckbox");
      return checkbox.checked;
    }

    // Function to enable buttons
    function enableButtons() {
      var checkbox = document.getElementById("termsCheckbox");
      var photoButton = document.getElementById("takePhoto");
      var uploadButton = document.getElementById("uploadImage");
      var submitButton = document.getElementById("submitButton");
      var termsLabel = document.getElementById("termsLabel");

      if (checkbox.checked) {
        photoButton.disabled = false;
        uploadButton.disabled = false;
        submitButton.disabled = false;
        termsLabel.textContent = "You consent to have your image taken.";
        termsLabel.style.color = "green";
      } else {
        photoButton.disabled = true;
        uploadButton.disabled = true;
        submitButton.disabled = true;
        termsLabel.textContent = "You must consent before using the app.";
        termsLabel.style.color = "red";
      }
    }

    // Function to show submit button when an image is selected
    function showSubmitButton() {
      var uploadInput = document.getElementById("uploadImage");
      var submitButtonContainer = document.getElementById("submitButtonContainer");

      if (uploadInput.files.length > 0) {
        submitButtonContainer.classList.remove("hidden");
      } else {
        submitButtonContainer.classList.add("hidden");
      }
    }

    // Function to close webcam modal
    function closeWebcamModal() {
      var modal = document.getElementById("webcamModal");
      modal.style.display = "none";
      window.location.href = "#content";
    }
  </script>
</div>
{% endblock content %}